.date-time-container {
  display: flex;
  gap: .75rem;
}

.input-date-time {
  display: flex;
  flex-direction: column;
  width: 100%;
}

input[type="datetime-local"] {
  font: var(--body-md);
  color: var(--input-placeholder);
  
  text-transform: uppercase;
  padding: .5rem;

  position: relative;

  &::-webkit-calendar-picker-indicator {
   opacity: 0;
  }
}