.brand {
  background-image: url(../assets/images/Background.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  border-radius: .75rem;

  height: 45.5rem;
  width: 25rem;

  margin-left: auto;

  header {
    padding: 1.5rem;

    h1 {
      margin-block: .5rem;
      font: 400 2.5rem 'Leckerli One', sans-serif;
      color: #FF598B;
    }

    h3 {
      font: var(--body-md);
      color: var(--text-heading);
    }
  }
}
