form {
  margin-top: .75rem;
}

fieldset {
  border: none;

  display: grid;
  gap: 1.5rem;

  margin-top: 1.5rem;

  & legend {
    display: flex;
    align-items: center;
    gap: .75rem;
    
    margin-bottom: 1rem;

    font: var(--heading-md);
    color: var(--text-heading);
  }
}