#app {
  display: grid;
  grid-template-columns: 31.25% 68.75%;
  gap: .75rem;

  margin: auto;
  background-color: var(--shape-background);
}

aside {
  padding: 1.5rem;
}

.info {
  margin-bottom: 3rem;
}