main {
  background-color: var(--shape-body);

  border-radius: .75rem;

  overflow: auto;

  display: flex;
  justify-content: center;

  margin-block: 1.5rem;
  padding-block: 5rem;  
  
  & .invite {
    width: 100%;
    height: 100%;
    max-width: 51.25rem;
  
    border-radius: .75rem;
  
    & h2 {
      font: var(--heading-md);
      color: var(--text-heading);
    }
  }
}
